.DownloadButton{
    width: 50%;
    height: 100px;
    font-size: 40px;
    display: block;
    margin: auto;
    margin-top: 10%;
}
.imageHelp{
    display: block;
    margin: auto;
    width: 50%;
}
.divImageHelp{
    text-align: center;
    font-size: 150%;
    margin-top: 3%;
}
.divImageHelp div{
    color: white;
    text-shadow: 0 0 10px red, 0 0 20px red, 0 0 30px red;
}
.iframeHelp{
    margin: auto;
    display: block;
    width: 50%;
    height: 500px;
}
.divIframeHelp{
    margin-top: 3%;
    text-align: center;
    font-size: 200%;
    color: white;
    text-shadow: 0 0 10px red, 0 0 20px red, 0 0 30px red;
}
.divtieude{
    background-color: rgb(255, 162, 162);
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 3%;
    font-size: 200%;
}