html{
    background-image: url("https://cdn-media.sforum.vn/storage/app/media/ctv_seo3/mau-background-dep-3.jpg");
    background-size:cover;
    background-position: center;
    /* background-repeat:no-repeat; */
    height: 100vh;
    margin: 0;
}