nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #aca8a8; /* Màu nền đen */
}
nav ul {
    display: flex; /* Hiển thị ngang */
    justify-content: space-between; /* Cách đều các mục */
    list-style: none; /* Xóa dấu chấm */
    padding: 0;
    margin: 0;
}
nav ul li {
    padding: 15px 10%; /* Tăng khoảng cách */
}
nav a {
    color: white;
    text-decoration: none; /* Bỏ gạch chân */
    font-size: 20px;
}

nav a:hover {
    color: rgb(255, 0, 0); /* Đổi màu khi di chuột vào */
}
